@import '../../themes//variables.css';
.root{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 20px;
    width: 300px;
}

.text{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}
.text h1{ 
    cursor: pointer;
}
.text h1:hover{ 
    text-decoration: underline;
}
.addFriend{ 
    background-color: var(--color-primary-button);
    color: var(--backgroundColorContainer);
}

@media(max-width: 768px ) { 
    .root{ 
        width: 280px;
    }
}

@media(max-width: 1370px ) { 
    .root{ 
        width: 280px;
    }
}

