@import '../../themes//variables.css';

.likeContainer{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.likeIcon{ 
    color: var(--backgroundColorLikes);
}
